:root {
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --primiry-white-color: #ffffff;
  --button-color: #4d5ae5;
  --collection-img-gap: 24px;
  --active-color: #404bbf;
  --border-color: #e7e9fc;
  --animation: 250ms;
  --overlay-clr: #f4f4fd;
  --modal-wndw-clr: #fcfcfc;
  --modal-idx: 100;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primiry-white-color);
  color: var(--main-text-color);
  font-size: 16px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.color {
  background-color: var(--main-text-color);
}
/* header */

.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*Navigation*/

.logo,
.footer-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.accent {
  color: var(--button-color);
}
.navigation-link:active {
  color: var(--active-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--active-color);
  background-color: var(--primiry-white-color);
}
.navigation-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-text-color);

  transition: color var(--animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 4px;
}

.navigation-tools,
.navigation {
  display: flex;
  align-items: center;
}
.navigation.list {
  display: flex;
  margin-left: 76px;
}
.navigation-link.link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation-item:not(:last-child) {
  margin-right: 40px;
}
.adress.navigation-tools {
  margin-left: auto;
}
.adress.list {
  display: flex;
}
.adress-item:not(:last-child) {
  margin-right: 40px;
}
.adress-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color var(--animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--active-color);
  background-color: var(--primiry-white-color);
}
.navigation-link.active {
  color: var(--active-color);
}
/*Button*/

.buttons {
  list-style: none;
  padding-top: 96px;
  padding-bottom: 72px;

  display: flex;
  justify-content: center;
}
/* Hero */
.hero {
  background-color: var(--main-text-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/herofoto.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  color: var(--primiry-white-color);
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button.primary {
  background-color: var(--button-color);
  color: var(--primiry-white-color);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 170px;
  text-align: center;
  border: 1px solid transparent;

  transition: background-color var(--animation), color var(--animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--button-color);
  color: var(--primiry-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}

.button-secondary {
  background-color: var(--border-color);
  display: flex;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  color: var(--button-color);
  padding: 12px 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;

  flex-direction: row;

  border-radius: 4px;

  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation), border var(--animation) linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.margin:not(:last-child) {
  margin-right: 24px;
}

.button.primary:hover,
.button.primary:focus {
  background-color: #404bbf;
  color: var(--primiry-white-color);
}
/* Section Privileges*/

.privileges-img {
  display: flex;
  list-style: none;
}
.privileges-icon {
  display: flex;
  width: 264px;
  height: 112px;
  justify-content: center;
  background-color: #f4f4fd;
  padding: 24px 100px;
}
.privileges-icon:not(:last-child) {
  margin-right: 24px;
}
.privileges-link {
  display: flex;
  justify-content: center;
}
.privileges-list {
  display: flex;
}
.privileges-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.privileges-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  width: 264px;
}
.privileges-item {
  list-style: none;
  flex-basis: calc(100% / 4 - var(--collection-img-gap));
}
.privileges-item:not(:last-child) {
  margin-right: 24px;
}

/* Section Examples works */
.section.examples {
  padding-top: 0;
}
.examles-item {
  display: flex;
}
.examples-img {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.examples-img {
  flex-basis: calc(100% / 3 - var(--collection-img-gap));
}

.examples-img:not(:last-child) {
  margin-right: 24px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.section-title {
  padding-top: 0;
}
.section.main {
  padding-top: 0px;
}
/* Team consist */

.team,
.team-item,
.team-img {
  background-color: #f4f4fd;
  list-style: none;
}
.team-item {
  display: flex;
}
.team-img {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: var(--primiry-white-color);
  margin-right: 24px;
  flex-direction: column;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-img:last-child {
  margin-right: 0px;
}
.team-frame {
  margin: 32px 16px;
  text-align: center;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.team-position {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

/*  socials */

.team-social {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
}
.social-link {
  width: 40px;
  height: 40px;
  background-color: var(--button-color);
  fill: var(--primiry-white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;

  transition: background-color var(--animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--active-color);
  color: var(--primiry-white-color);
  border: transparent;
}

/* Portfolio */

.img-title {
  padding-top: 32px;
  padding-bottom: 32px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  text-align: left;
}

.filter-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
  margin-left: 16px;
}
.filter-text {
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-left: 16px;
}

.app-collection {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  row-gap: 48px;
  column-gap: 24px;
}
.collection-img {
  flex-basis: calc(100% / 3 - var(--collection-img-gap));
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  background-color: var(--button-color);
  padding: 40px 32px;
  transition: transform var(--animation);
}
.portfolio-link:hover .overlay {
  transform: translateY(0);
}
.portfolio-link:focus .overlay {
  transform: translateY(0);
}
.overlay-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--overlay-clr);
}

.portfolio-link {
  text-decoration: none;
  display: block;
  outline: transparent;

  transition: box-shadow var(--animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Customers */
.customers-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.customers-icons {
  width: 168px;
  height: 88px;
}
.customers-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  fill: #8e8f99;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  outline: transparent;

  transition: fill var(--animation), border var(--animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icons-link:hover,
.customers-icons-link:focus {
  fill: var(--active-color);
  border: 1px solid var(--active-color);
}

/* Footer */
.footer {
  background-color: var(--main-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  color: var(--primiry-white-color);
  text-decoration: none;
}
.logo-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 240px;
  height: 110px;
  margin-top: 16px;
}
.links-text {
  color: var(--primiry-white-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.footer-container,
.footer-social-menu {
  display: flex;
}
.footer-left {
  margin-left: 120px;
}
.footer-social-title {
  color: var(--primiry-white-color);
  margin-bottom: 16px;
}
.footer-social-apps {
  color: var(--primiry-white-color);
  list-style: none;
}
.footer-social-apps:not(:first-child) {
  margin-left: 16px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primiry-white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 16px;
  gap: 16px;

  transition: background-color var(--animation) linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

/* footer form */
.down-form {
  margin-left: 80px;
}
.down-form-title {
  font-weight: 500;
  line-height: 1.5;
  color: var(--primiry-white-color);
  letter-spacing: 0.02em;
}

.footer-form {
  display: flex;
}
.footer-form-input {
  border: 1px solid var(--primiry-white-color);
  background-color: var(--main-text-color);
  border-radius: 4px;

  margin-right: 24px;
  width: 264px;
  height: 40px;
  padding: 10px 10px;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
}
.submit-icon {
  margin-right: 16px;
  vertical-align: middle;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--active-color);
}
.footer-btn {
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  gap: 16px;
  background-color: var(--button-color);
  border: none;
  border-radius: 4px;
  color: var(--primiry-white-color);
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity var(--animation), visibility var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--modal-wndw-clr);
  max-width: 408px;
  min-height: 576px;
  width: 100%;

  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.size-none {
  resize: none;
}
.form-title {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.5;
  margin-bottom: 16px;
}
.modal-group {
  display: flex;
  flex-direction: column;

  gap: 4px;
}
.modal-group:not(:last-child) {
  margin-bottom: 8px;
}
.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 35px;
  padding-right: 6px;
  outline: transparent;
  transition: border-color var(--animation) linear;
}

.modal-input:focus + .modal-icon {
  fill: var(--button-color);
}
.modal-input:focus {
  border-color: var(--button-color);
}
.modal-wrapper {
  position: relative;
}
.label-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.17px;
  color: #8e8f99;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  padding-left: 5px;
}
.label-name-checbox {
  display: flex;
}

.accent-policy {
  color: var(--button-color);
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;

  display: inline-flex;
  align-items: center;
  padding-left: 5px;
}
.modal-comments {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 138px;
}
.modal-comments:focus {
  border-color: var(--button-color);
  outline: transparent;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--border-color);
  border: none;
  cursor: pointer;
}
.closing:hover,
.closing:focus {
  background-color: var(--active-color);
}
.modal-icon-close {
  fill: var(--main-text-color);
}
.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 16px;
  height: 16px;
}
.modal-chekbox {
  margin-bottom: 24px;
}

.modal-chekbox-icon {
  fill: var(--overlay-clr);
  vertical-align: middle;
}
.title-check-box {
  padding-left: 8px;
  font-size: 12px;
  line-height: 1.17;

  color: #8e8f99;

  letter-spacing: 0.04em;
}
.modal-chekbox-custom {
  display: inline-flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 16px;
  width: 16px;

  transition: border-color var(--animation) linear,
    background-color var(--animation) linear;
}
.modal-chekbox-input:checked + .modal-chekbox-label > .modal-chekbox-custom {
  color: #e7e9fc;
  background-color: var(--active-color);
}
.submit-button {
  color: var(--modal-wndw-clr);
  display: block;

  padding: 16px 32px;

  background: var(--button-color);
  width: 169px;
  height: 56px;
  margin: auto;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.submit-button:hover,
.submit-button:focus {
  background-color: var(--active-color);
}

/**
  |============================
  | 
  |============================
*/
